<h1>Edit Site: <%= site.name %></h1>
<form action="/sites/<%= site._id %>/edit" method="POST">
	<div>
		<label for="name">Name:</label>
		<input type="text" id="name" name="name" value="<%= site.name %>" required>
	</div>
	<div>
		<label for="country">Country:</label>
		<input type="text" id="country" name="country" value="<%= site.country %>" required>
	</div>
	<div>
		<label for="description">Description:</label>
		<textarea id="description" name="description"><%= site.description %></textarea>
	</div>
	<button type="submit">Update Site</button>
</form>
<a href="/sites/<%= site._id %>">Cancel</a>
