<%- include('layout', { title: 'User List' }) %>

<form action="/users" method="GET">
    <input type="text" name="search" placeholder="Search users...">
    <button type="submit">Search</button>
</form>
<h1>User List</h1>
    <table id="userTable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Username</th>
                <th onclick="sortTable(1)">First Name</th>
                <th onclick="sortTable(2)">Last Name</th>
                <th onclick="sortTable(3)">Organization</th>
                <th onclick="sortTable(4)">Country</th>
                <th onclick="sortTable(5)">Permission Level</th>
                <th onclick="sortTable(6)">Registration Date</th>
                <th onclick="sortTable(7)">Last Login Date</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><a href="/dashboard/<%= user._id %>"><%= user.username %></a></td>
                    <td><%= user.firstName %></td>
                    <td><%= user.lastName %></td>
                    <td><%= user.organization %></td>
                    <td><%= user.country %></td>
                    <td><%= user.permissionLevel %></td>
                    <td><%= user.registrationDate.toLocaleDateString() %></td>
                    <td><%= user.lastLoginDate ? user.lastLoginDate.toLocaleDateString() : 'N/A' %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("userTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
    </script>
</body>
</html>
